*{
    padding:0;
    margin:0;
}
body{
    background:#C23433;
    background:#EFD72F;
}
/*CSS3 开启GPU硬件加速*/
-webkit-transform:translateZ(0);
-moz-transform:translateZ(0);
-ms-transform:translateZ(0);
-o-transform:translateZ(0);
transform:translateZ(0);
.wrap{}
.windmill{
    width:50px;
    /*height:160px;*/
    position:absolute;
    bottom:290px;
    left:380px;
}
.windmill .head{
    position:relative;
    width:50px;
    height:50px;
    background:url(../images/fengche.png) no-repeat;
    background-size: 50px 50px;
    -webkit-animation:showF .5s linear 0s infinite;
    -moz-animation:showF .5s linear 0s infinite;
    animation:showF .5s linear 0s infinite;
}
@-webkit-keyframes show{
    0%   {transform: rotateZ(0deg)}
    100% {transform: rotateZ(360deg)}
}
@-moz-keyframes show{
    0%   {transform: rotateZ(0deg)}
    100% {transform: rotateZ(360deg)}
}
@keyframes showF{
    0%   {transform: rotateZ(0deg)}
    100% {transform: rotateZ(360deg)}
}
@-webkit-keyframes showF{
    0%   {transform: rotateZ(0deg)}
    100% {transform: rotateZ(-360deg)}
}
@-moz-keyframes showF{
    0%   {transform: rotateZ(0deg)}
    100% {transform: rotateZ(-360deg)}
}
@keyframes showF{
    0%   {transform: rotateZ(0deg)}
    100% {transform: rotateZ(-360deg)}
}
.windmill .footer{
    width:5px;
    height:80px;
    border-radius:5px;
    background:#fff;
    margin-left:23px;
    margin-top:-35px;
}
